.main {
    width: 100%;
    height: 100%;
}

.leftside {
    background: url(https://raw.githubusercontent.com/Sanzro-Lee/HELPER_FACTION_official_background_management_system/master/src/assets/logo01.png) no-repeat;
    background-size: contain;
    position: absolute;
    width: 15%;
    height: 20%;
    top: 1rem;
    left: 2rem;
}

.rightside {
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
}

.logintitle {
    margin: 4vw 0 2vw 0;
    text-align: center;
    font-size: 3rem;
}

.weltext {
    display: block;
    margin-bottom: 3vw;
    text-align: center;
    font-size: 1.4rem;
}

.ant-form-item {
    width: 40vw;
    left: 5vw;
}

.ant-form-item-control-wrapper {
    width: 100%;
    margin-bottom: 1.2rem !important;
}

/* .ant-input {
    height: 4rem !important;
    font-size: 1.2rem !important;
} */

.rememberpw {
    float: left;
}

.forgetpw {
    float: right;
}

.ant-btn {
    width: 48%;
    height: 5rem !important;
    border-radius: 50px !important;
    margin-top: 1rem;
    font-size: 1.2rem !important;
}

.signupbtn {
    float: right;
    border-color: #4D4F5C;
    color: #4D4F5C;
}

.footertext {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #808080;
    opacity: 0.4;
    mix-blend-mode: difference;
}